.background {
    background-color: #031f30;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #d3d4d4;
}

.listContainer {
    min-width: 0;
    flex: 1 1 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.dockerContainer {
    flex: 0 0;
    min-width: 200px;
    max-width: 200px;
    border-radius: 10px;
    border: 3px solid #4697ec;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    cursor: pointer;
    h3 {
        color: #9cd4f7;
        word-break: break-all;
    }
}

.sidebar {
    background-color: #0f1c24;
    height: 100vh;
    max-width: 100vw;
    min-width: min(500px, 100vw);
    flex-grow: 0.5;
    align-self: flex-end;
    color: #d3d4d4;
    padding: 20px;
    button {
        font-size: larger;
        background-color: #0f1c24;
        border: none;
        padding: 5px;
        color: inherit;
        cursor: pointer;
    }
    h1 {
        color: #9cd4f7;
        word-break: break-all;
    }
}

.code {
    font-family: monospace;
    background-color: #0a121b;
    border: 1px solid black;
    border-radius: 10px;
    color: #c1f1f0;
    width: 100%;
    height: 20rem;
    resize: vertical;
    padding: 10px;
}