.background {
    background-color: #081f30;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.listContainer {
    max-width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.dockerContainer {
    flex: 0 0;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid #4697ec;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    align-items: center;
}