.background {
    background-color: var(--background-light);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
}
.listWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    align-items: flex-start;
    min-width: 0;
    flex: 1 1 0;
    padding: 50px;
    max-height: 100vh;
}