.code {
    font-family: monospace;
    background-color: #0a121b;
    border: 1px solid black;
    border-radius: 10px;
    color: #c1f1f0;
    width: 100%;
    resize: vertical;
    padding: 10px;
    overflow-y: auto;
}
.oneLine {
    resize: none;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    word-break: keep-all;
}