body, html {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: #c1f1f03a;
        border-radius: 5px;
        
    }
    &::-webkit-scrollbar-thumb:hover {
        border-radius: 5px;
        background: #c1f1f0;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-resizer {
        background-color: #4697ec;
    }
}
body{
    --background-light: #031f30;
    --background-dark: #0f1c24;
    --text: #d3d4d4;
    --accent-blue: #4697ec;
    --accent-text: #9cd4f7;
    --icon-font: 'Material Icons', serif;
    
}